<section class="ui one column video page grid">
  <h2 class="ui header">Videos</h2>
  <section class="column">
    <iframe src="//player.vimeo.com/video/88251290" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/88251290">Jake and the Deck</a> from <a href="http://vimeo.com/savecloyne">Save Cloyne</a> on <a href="https://vimeo.com">Vimeo</a>.</p> <p>Last year, a group of students in Cloyne undertook what may be the most ambitious home improvement project in the house&#039;s history. They have been constructing a deck shaped like a pirate ship. Jake is one of these students and in this interview he explains what the deck and Cloyne mean to him. If Cabinet&#039;s proposal passes then students such as Jake will not be allowed to live in this house that they&#039;ve put so much love into.</p>
  </section>
  <section class="column">
    <iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/S1lFSaDgCBI" frameborder="0" allowfullscreen></iframe>
  </section>
</section>
